header{
    width: 100%;
    position: absolute;
    top: 0;

    nav{
        display: flex;
        justify-content: space-between;
        margin-left: 40px;
        margin-right: 20px;
        .brandName{
            width: 50%;
            font-family: $bebas-neue;
            font-size: 6.5rem;
            color: $white;
            -webkit-text-stroke: 2px  $black;
        }
    
        .navbar{
            display: flex;
            justify-content: flex-end;
            width: 50%;
            ul{
                display: flex;
                align-items: center;
                li{
                    list-style: none;
                    height: fit-content;
                    a{
                        margin: 0 10px 0 10px;
                        text-decoration: none;
                        color: $white;        
                        font-size: 2rem;   
                        font-family: $roboto;
                        border-bottom: 2px transparent solid;
                        
                        &:hover{
                            transition:  all 0.5s;
                            border-bottom: 2px $white solid;
                        }
                    }
                }
            }
        }   
    }

}

//Estilos del header de la tienda

.headerTienda{
    position: static;
    background-color: $black;
    margin-bottom: 30px;

    .brandTienda{
        color: $white;
        text-decoration: none;
        -webkit-text-stroke: 0px  $black;
    }

    .ulTienda{
        a{
            color: $white;
            &:hover{
                border-bottom: 2px $white solid;
            }
        }
    }
}