main{
    background-color: $white;
    .hero{
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        width: 100%;
        height: 100vh;
        
        background-image: url("/resources/media/pexels-jessica-lewis-creative-867465.webp");
        background-position: center;
        background-repeat: no-repeat;

        .hero--textContainer{
            margin-left: 40px;
            text-align: left;

            h1{
                color: $black;
                font-size: 5rem;
                font-family: $bebas-neue;
            }

            p{
                width: 500px;
                color: $black;
                font-size: 3rem;
                font-family: $roboto; 
                margin-bottom: 30px;
            }

            a{
                text-decoration: none;
                color: $black;
                font-family: $roboto;
                font-size: 2rem;
                font-weight: 700;
                padding: 15px 30px 15px 30px;
                background-color: $white;
                border-radius: 2px;
                box-shadow: 1px 3px 3px rgba(49, 49, 49, 0.493);
                transition: all 0.2s;

                &:hover{
                    opacity: 70%;
                    box-shadow: 1px 3px 3px rgba(49, 49, 49, 0.137);
                }
            }
        }
    }

    .coffeInfo{
        position: relative;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        padding: 30px;
        background-color: $white;

        h2{
            color: $black;
            font-family: $roboto;
            font-weight: 700;
            font-size: 3rem;
            text-align: center;
            margin-bottom: 20px;
        }

        .coffeInfo--Content{
            display: flex;
            justify-content: space-around;
            align-items: center;

            .cofferInfo--rightBlock,.cofferInfo--centerBlock,.coffeInfo--leftBlock{
                h3{
                    margin-bottom: 10px;
                    color: $black;
                    font-size: 2.8rem;
                    font-family: $roboto;
                    text-align: center;
                   }
   
                   figure{
                       position: relative;
                   }
   
                    div{
                       display: flex;
                       align-items: center;
                       width: 400px;
                       height: 400px;
                       background-size: contain;
                       transition: all 1s;
                       border-radius: 5px;
   
                       &:hover{
                           p{
                               opacity: 100%;
                           }
                       }   
                       p{
                           opacity: 0%;
                           color: $white;
                           font-size: 2.8rem;
                           font-family: $roboto;
                           text-align: center;
                           transition: all 1s;
                       }
                    }

                    .divRight{
                        background-image: url("/resources/media/coffe-quality.jpg");
                        &:hover{
                            background-image: url("/resources/media/quality_oscurecida.webp");
                        }
                    }

                    .divCenter{
                        background-image: url("/resources/media/Coffe-variedad.jpg");
                        &:hover{
                            background-image: url("/resources/media/variedad_osucreciad.webp");
                        }
                    }

                    .divLeft{
                        background-image: url("/resources/media/coffe-plantacion.jpg");
                        &:hover{
                            background-image: url("/resources/media/plantaciones_oscurecidas.webp");
                        }
                    }
   
                }
            }
    }
    
    .BestSeller{
        background-color: $white;
        padding: 30px;

        h2{
            margin-bottom: 60px;
            color: $black;
            font-size: 2.8rem;
            font-family: $roboto;
            font-size: 700;
            text-align: center
        };

        .BestSeller--grid{
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(2, 1fr);
            justify-items: center;
            


            .bestSeller--item{
                display: flex;
                justify-content: center;
                align-items: center;
                flex-flow: column;
                flex-wrap: wrap;
                margin-bottom: 30px;
                padding-inline: 10px;
                border-radius: 5px;
                background-color: #dddddd;
                box-shadow: 0px 3px 3px 0 rgba(192, 192, 192, 0.5);
                transition: all 0.5s;
                img{
                    max-width: 300px;
                    width: 100%;
                    height: auto;
                    margin-bottom: 5px;
                    border-radius: 5px;
                }
                p{
                    margin-bottom: 5px;
                    color: $black;
                    font-family: $roboto;
                    font-size: 2rem;
                }

                div{
                    display: flex;
                    p{
                        font-size: 2rem;
                        margin-right: 5px;
                    }
                    input{
                        width: 30px;
                        height: 20px;
                        margin-bottom: 15px;
                        border: 2px $black solid;
                        background-color: $white;
                    }
                }
                
                button{
                    width: 100px;
                    height: 25px;
                    margin-bottom: 15px;
                    border: 1px $black solid;
                    border-radius: 3px;
                    background-color: $black;
                    color: $white;

                    &:hover{
                        transition: all 0.3s;
                        opacity: 75%;
                        cursor: pointer;
                    }
                }

                &:hover{
                    
                    transform: scale(1.01);
                }
            }



        }
    }

    .Carrito{
        position: sticky;
        bottom: 10px;
        left: 94%;
        background-color: black;
        background-image: url("/resources/Icons/cart-fill.svg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: 50%;
        width: 80px;
        height: 80px;
        border-radius: 50%;
        border: none;
        transition: all 0.5s;

        &:hover{
            transform: scale(.9);
            cursor: pointer;
            background-color: hsl(0, 2%, 12%);
        }
        
        div{
            position: absolute;
            bottom: 0;
            right: 0;
            background-color:rgb(245, 63, 63);
            width: 20px;
            height: 20px;
            border-radius: 50%;
            text-align: center;
            color: $white;
            font-family: $roboto;
            font-size: 1.6rem;
        }
    }
}

