.modal{
    position: fixed;
    display: none;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    bottom: 0;
    z-index: 1;
    .modal--container{
        position: relative;
        max-width: 800px;
        width: 100%;
        min-height: 300px;
        max-height: 600px;
        height: max-content;
        background-color: $white;
        overflow-y: auto;

        .modalTitle{
            position: sticky;
            top: 0;
            left: 0;
            z-index: 1;
            width: 100%;
            display: flex;
            justify-content: space-between;
            background-color: $black;
            h2{
                padding: 10px;
                color: $white;
                font-family: $roboto;
                font-size: 2.2rem;
            }

            span{
                padding: 10px;
                color: $white;
                font-family: $roboto;
                font-size: 2.2rem;

                &:hover{
                    cursor: pointer;
                }
            }
        }
   
        .modalItem{
            bottom: 0;
            left: 0;
            padding: 10px;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr 20px;
            place-items: center;
            margin: 10px 5px 10px 5px;
            background-color: rgba(182, 179, 179, 0.384);
            img{
                width: 80px;
                height: auto;
                border-radius: 50%;
            }

            p{
                height: fit-content;
                color: $black;
                font-family: $roboto;
                font-size: 2.2rem;   
            }

            span{
                padding: 10px;
                color: $black;
                font-family: $roboto;
                font-size: 2.2rem;

                &:hover{
                    cursor: pointer;
                } 
            }
        }

        .carritoVacio{
            margin-top: 30px;
            text-align: center;
            font-family: $roboto;
            font-size: 2.2rem;
            color: $black;
        }

        .ListadoBotones{
            position: sticky;
            top: 100%;
            width: 100%;
            padding: 20px;
            display: flex;
            justify-content: space-around;


            .botonModal{
                width: 100px;
                height: 40px;
                border:none;
                border-radius: 5px;
                background-color: $black;
                font-family: $roboto;
                color: $white;
                font-size: 1.6rem; 
                transition: all 0.5s;

                &:hover{
                    transform: scale(.9);
                }
            }
        }

    }
}

.mActive{
    display: flex;
}