.mainTienda {
    display: flex;

    .tiendaFilter{
        margin-left: 30px;

        h3{
            font-family: $roboto;
            font-size: 2rem;
            margin:20px 0 5px 0;
        }
        div{
            font-family: $roboto;
            margin: 10px 0 10px 0;
        }
    }

    .mainTienda--Grid{
        margin-left: 30px;
        display: grid;
        grid-template-columns: repeat(3,400px);
        grid-auto-rows: auto;
        place-items: center;

        .bestSeller--item {
            max-width: 300px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-flow: column;
            flex-wrap: wrap;
            margin-bottom: 30px;
            padding-inline: 10px;
            border-radius: 5px;
            background-color: #dddddd;
            box-shadow: 0px 3px 3px 0 rgba(192, 192, 192, 0.5);
            transition: all 0.5s;
        
                img {
                max-width: 300px;
                width: 100%;
                height: auto;
                margin-bottom: 5px;
                border-radius: 5px;
                }
                p {
                margin-bottom: 5px;
                color: $black;
                font-family: $roboto;
                font-size: 2rem;
                }
        
                div {
                display: flex;
                p {
                    font-size: 2rem;
                    margin-right: 5px;
                }
                input {
                    width: 30px;
                    height: 20px;
                    margin-bottom: 15px;
                    border: 2px $black solid;
                    background-color: $white;
                }
                }
        
                button {
                width: 100px;
                height: 25px;
                margin-bottom: 15px;
                border: 1px $black solid;
                border-radius: 3px;
                background-color: $black;
                color: $white;
        
                &:hover {
                    transition: all 0.3s;
                    opacity: 75%;
                    cursor: pointer;
                }
                }
        
                &:hover {
                transform: scale(1.01);
                }
            }
    }
  
}
